<h1> this is an about page </h1>

<p> <%= link_to('contact to uk', {:action => 'contact', :country => 'uk'}) %> </p>
<p> <%= link_to('contact to us', {:action => 'contact', :country => 'us'}) %> </p>
<p> <%= link_to('contact to china', {:action => 'contact', :country => 'ch'}) %> </p>